@import "../settings/_variables.scss";

html {
  color: $pokemongold;
  background-color: $pokemonblue;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
